
/*HOREZONTAL NAVBAR*/

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: green;

}


body {
	background-color: darkcyan;

}


li {
	float: left;
}

li a {
	text-decoration: none;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 61px;
}

li a:hover{
	background-color: gray;

}
.active {
	background-color: black;
}


/*VERTICAL NAVBAR*/

.vertical{
	margin-top: 20px;
	width: 14%;
}

.vertical a{
	background-color: green;
	color: white;
	display: block;
	padding: 10px;
	text-decoration: none;
	text-align: center;
}

.vertical a:hover{
	background-color: gray;

}

.vertical a.active{
	background-color: black;

}


/*FONT ADJUSTMENT*/


h1 {

	margin-top: 70px;
	text-align: center;
	font-family: sans-serif;
	font-size: 20px;
	color: white;
}

b {
  color: black;
}


/*IMAGE ADJUSTMENT*/

img {
	position: absolute;
	top: 0px;
	margin-top: 75px;
	width: 220px;
	margin-left: 565px;
	border: solid;
}





